<!DOCTYPE html>
<html>
  <%- include("./partials/head")%>
  <body>
    <div class="vendor-inventory">
      <div class="nameplate">        
        <img src="/images/npc_img_perelli.png" class="npc-img">
        <img src="/images/nameplate_scaled.png" class="nameplate-border">
      </div>
      
      <% items.forEach(item => { %> 
        <a href="/items/<%= item.url%>">
        <div class="inventory-item">
          <div class="item-img">
            <img src=<%= item.imgPath%>>
          </div>
          <div class="item-details">
            <p class="item-name">
              <%= item.name %>
            </p>
            <div class="item-price">
              <% if(item.priceGold) {%>
                <div class="price-gold price">
                  <div>
                    <p><%= item.priceGold %></p>
                  </div>
                  <div>
                    <img src="/images/coin_gold.webp" class="coin">
                  </div>
                </div>
                  <% }%>
              <% if(item.priceSilver) {%>
                <div class="price-silver price">
                  <div>
                    <p><%= item.priceSilver %></p>
                  </div>
                  <div>
                    <img src="/images/coin_silver.webp" class="coin">
                  </div>
                </div>
                  <% }%>
              <% if(item.priceCopper) {%>
              <div class="price-copper price">
                <div>
                  <p><%= item.priceCopper %></p>
                </div>
                <div>
                  <img src="/images/coin_copper.webp" class="coin">
                </div>
              </div>
                <% }%>
            </div>

          </div>
          
        </div>
      </a>
      <% }) %>
      <%- include("./partials/nav")%>
    </div>
    </div>
  </body>
</html>
